.header {
    &__logo {
        height: 18px;

        @include media-breakpoint-up(lg) {
            height: initial;
        }
    }

    &__search {
        max-width: 300px;
        background-color: $gray-f0;
        border: 0;

        &::placeholder {
            color: $gray-80;
        }
    }

    &__search__bar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        background-color: $gray-f0;
        z-index: 100;

        @include media-breakpoint-up(lg) {
            display: none !important;
        }

    }

    &__menu {
        &__item {
            border-bottom: 1px solid $primary;
            width: 100%;
            font-size: 18px;
            line-height: 1.5;
            font-weight: bold;
            text-align: center;

            @include media-breakpoint-up(lg) {
                border-bottom: 0;
                width: initial;
                font-size: 16px;
                border-left: 1px solid $primary;
            }
        }

        &__wallet {
            a.btn {
                font-size: 18px;
                line-height: 1.5;
                font-weight: normal;
                border: 1px solid #000;
                border-radius: 0;
                background-color: $secondary;
                color: white;
                padding-top: 12px;
                padding-bottom: 12px;
            }

            &:hover {
                i.fa-wallet {
                    color: $secondary;
                }
            }

            @include media-breakpoint-up(lg) {
                border-left: 1px solid $primary;
            }
        }
    }


}

.navbar {
    padding: 0;

    &::after {
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: black;
    }

    @include media-breakpoint-up(lg) {
        &::after {
            top: 104px;
        }
    }
}

.navbar-toggler.collapsed {
    i:first-child {
        display: inline-block !important;
    }

    i:last-child {
        display: none;
    }
}