// <!-- Ranking 市價排行榜-->
.home {
    &__nft {
        @include media-breakpoint-up(xl) {
            border: 1px solid #000;
        }
    }

    &__bird {
        @include media-breakpoint-up(xl) {
            border: none !important;
            border-left: 1px solid #000 !important;
        }
    }
}

.rank {
    &__thumb {
        position: relative;
        // background-color: black;
        display: block;
        border-left: 1px solid #000;
        border-right: 1px solid #000;

        img {
            object-fit: cover;
        }

        .btn-nft {
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &:hover {
            &::after {
                content: 'more';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: black;
                opacity: 0.7;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .triangle {
                display: block;
                z-index: 1;
            }
        }

    }
}

.large-card {
    @include media-breakpoint-up(xl) {


        position: relative;
        flex-direction: column !important;

        .num {
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 48px;
            z-index: 1;
            border: 1px solid #000;
            font-size: 32px !important;
            line-height: 1.5 !important;
            padding: 8px !important;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a {
            width: 100%;

        }

        img {
            max-width: 100%;
            width: 100%;
            height: 374px;
            object-fit: cover;
            object-position: top;

        }

        // .btn-nft {
        //     display: none;
        //     position: absolute;
        //     bottom: 0;
        //     right: 0;
        // }

        .rank__thumb {
            &:hover {
                &::after {
                    content: '';
                }

                .btn-nft {
                    display: block;
                    z-index: 1;


                    color: white;
                    background-color: $secondary;

                    &::after {
                        border-color: transparent $primary $primary transparent;
                    }

                }
            }
        }
    }
}


// section title component in index.html
.home-sec {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid $primary;

    &-title {
        font-family: $font-family-Squada-One;
        @include font-size(3rem);
        line-height: 1;
        padding-bottom: 8px;
        margin-bottom: 0;
        margin-right: 16px;

        @include media-breakpoint-up(xl) {
            padding-bottom: 16px;
        }
    }

    &-subtitle {
        font-size: 20px;
        line-height: 1.5;
        font-weight: bold;
        margin-right: auto;
        display: none;

        @include media-breakpoint-up(xl) {
            display: block;
        }
    }
}

// <!--  Artist 熱門藝術家 -->


// 最新藝術品
.home__artwork {
    // display: block;
    position: relative;

    img {
        // width: 258px;
        // height: 327px;
        object-fit: cover;
    }

    &--hover {
        display: none;
        margin: 16px;
        border: 1px solid white;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .btn-nft {
        // display: none;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &:hover {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: black;
            opacity: 0.7;
            z-index: 1;
        }

        .home__artwork--hover {
            display: block;
            z-index: 10;

            .btn-nft {
                color: $primary;
                background-color: white;
            }
        }


    }
}

.swiper-container {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 48px 0;
    padding: 48px 0;

    @include media-breakpoint-up(md) {
        width: 100%;
        margin: 48px 0;
        padding: 48px 0;

    }
}

.artist-slide {
    // width: 600px;
    opacity: 0.4;
    overflow: hidden;
    transition: .7s;
    //
    // height: 439px;
    transform: scale(0.7) !important;

    .card-img-overlay {
        display: none;
    }

    .artist__text {
        display: none;
    }
}

.artist-slide img {
    width: 100%;
    object-fit: cover;
    // height: auto;
}

.swiper-slide-active.artist-slide {
    opacity: 1;
    z-index: 1;

    transform: scale(1) !important; //scale(1.5);

    .card-img-overlay {
        display: block;
    }

    .artist__text {
        display: block;
    }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
}

.swiper-pagination-bullet {
    background-color: $primary;
    opacity: 1;
    border-radius: 0;

    &-active {
        width: 1em;
        background-color: $secondary;

    }
}

.artist {
    &__title {
        display: block;

        @include media-breakpoint-up(md) {
            display: none;
        }

    }

    &__md__title {
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
        }

    }

    &__btn {
        position: absolute;
        // right: 0;
        bottom: 0;
        right: 0;
        background-color: white;
        margin: 8px;

        @include media-breakpoint-up(md) {

            bottom: 8px;
            right: 8px;

        }
    }

    &__text {
        @include media-breakpoint-up(md) {
            position: absolute;
            bottom: 0px;
            left: 16px;
            width: 50%;
        }
    }

    &__body {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}