$utilities: map-merge($utilities,
    ("line-height": map-merge(map-get($utilities, "line-height"),
            (values: map-merge(map-get(map-get($utilities, "line-height"), "values"),
                    (xs: $line-height-xs,
                        0: 0),
                ),
            ),
        ),
        "font-size": (rfs: true,
            responsive: true,
            property: font-size,
            class: fs,
            values: $font-sizes),
        "border-width": (responsive: true,
            property: border-width,
            class: border,
            values: $border-widths),
        "border-color": (property: border-color,
            responsive: true,
            class: border,
            values: map-merge($theme-colors, ("white": $white))),
    ),

);